@keyframes oscillate {
  0% {
    transform: translateY(0rem); }
  25% {
    transform: translateY(0.5rem); }
  50% {
    transform: translateY(1rem); }
  75% {
    transform: translateY(0.5rem); }
  100% {
    transform: translateY(0); } }

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 1.5rem; }

body {
  font-family: 'Nunito', sans-serif;
  font-size: 1.6rem; }

.section__text--white {
  color: white; }

.section__text--title {
  display: inline-block;
  font-size: 4rem;
  text-transform: capitalize; }

.section__text--subtitle {
  display: inline-block;
  font-size: 2rem;
  font-weight: 400; }

.section__heading {
  display: inline-block;
  font-size: 4rem;
  color: black;
  border-bottom: .5rem solid black;
  transition: all .3s;
  cursor: pointer; }
  .section__heading:hover {
    color: white;
    background-color: black; }

.u-center-text {
  text-align: center !important; }

.u-mb-small {
  margin-bottom: 2rem !important; }

.u-mb-medium {
  margin-bottom: 4rem !important; }

.u-mb-large {
  margin-bottom: 8rem !important; }

.navigation__checkbox {
  display: none; }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  background: linear-gradient(90deg, #feac5e 0%, #c779d0 50%, #4bc0c8 100%);
  position: fixed;
  top: 6rem;
  right: 7rem;
  z-index: 1000;
  transition: all .3s; }

.navigation__toggle {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  background-color: white;
  position: fixed;
  top: 5.5rem;
  right: 6.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  z-index: 1500;
  cursor: pointer; }

.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  display: inline-block;
  width: 3rem;
  height: .2rem;
  background-color: #333;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all .2s; }

.navigation__icon::before, .navigation__icon::after {
  content: "";
  display: inline-block; }

.navigation__icon::before {
  top: -.5rem; }

.navigation__icon::after {
  top: .7rem; }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(50); }

.navigation__checkbox:checked ~ .navigation__toggle .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked ~ .navigation__toggle .navigation__icon::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg); }

.navigation__checkbox:checked ~ .navigation__toggle .navigation__icon::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(315deg); }

.navigation__toggle:hover .navigation__icon::before {
  top: -.7rem; }

.navigation__toggle:hover .navigation__icon::after {
  top: .9rem; }

.project {
  height: 40rem;
  width: 100%;
  perspective: 1000;
  background-color: white;
  border-radius: .5rem;
  cursor: pointer; }

.tools {
  position: relative; }
  .tools__img {
    width: 30%;
    position: absolute;
    animation: oscillate 2s ease-out none infinite; }
    .tools__img--1 {
      top: 0;
      left: -1rem; }
    .tools__img--2 {
      top: -10rem;
      left: 20rem; }
    .tools__img--3 {
      top: 1rem;
      right: 0; }
    .tools__img--4 {
      top: 20rem;
      left: -3rem; }
    .tools__img--5 {
      top: 32rem;
      left: 20rem; }
    .tools__img--6 {
      top: 20rem;
      left: 40rem; }
    .tools__img--7 {
      top: 10rem;
      left: 20rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2*6rem) / 3); }

.header {
  height: 85vh;
  border-radius: .5rem;
  background: linear-gradient(90deg, #a1ffce 0%, #faffd1 100%);
  position: relative;
  overflow: hidden; }
  .header__content {
    padding-top: 17.5rem; }
  .header__text--greeting {
    display: inline-block;
    font-size: 4rem;
    margin-bottom: 1rem; }
  .header__text--title {
    display: inline-block;
    font-size: 5rem;
    line-height: 1; }
  .header__text--subtitle {
    display: inline-block;
    font-size: 2.5rem;
    font-family: 'Share Tech Mono', monospace; }
  .header__icons--icon {
    font-size: 2.5rem;
    cursor: pointer; }
    .header__icons--icon:not(:last-child) {
      margin-right: 1.5rem; }
    .header__icons--icon:hover {
      color: teal; }
  .header__img {
    transform: translateY(-20rem);
    width: 100%; }

.about {
  margin-top: 1rem;
  padding: 20rem 0 25rem 0;
  border-radius: .5rem;
  background: linear-gradient(90deg, #ff8008 0%, #ffc837 100%); }

.projects {
  margin-top: 1rem;
  padding: 15rem 0 20rem 0;
  border-radius: .5rem;
  background: linear-gradient(90deg, #ee9ca7 0%, #ffdde1 100%);
  transition: all .3s; }

.contact {
  margin-top: 1rem;
  padding: 30rem 0;
  border-radius: .5rem;
  background: linear-gradient(90deg, #ece9e6 0%, #ffffff 100%); }

.footer {
  margin-top: 1rem;
  padding: 2.5rem 0;
  border-radius: .5rem;
  background: linear-gradient(90deg, #536976 0%, #292e49 100%); }

.darkmode__toggle {
  height: 4rem;
  width: 4rem;
  border-radius: 25%;
  background-color: white;
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  z-index: 700;
  cursor: pointer; }
