@keyframes oscillate {
  0% {
    transform: translateY(0rem); }
  25% {
    transform: translateY(0.5rem); }
  50% {
    transform: translateY(1rem); }
  75% {
    transform: translateY(0.5rem); }
  100% {
    transform: translateY(0); } }

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 37.5em) {
    html {
      font-size: 25%; } }
  @media (max-width: 50em) {
    html {
      font-size: 35%; } }
  @media (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  padding: 1.5rem;
  position: relative; }
  @media (max-width: 50em) {
    body {
      padding: 0; } }

body {
  font-family: 'Nunito', sans-serif;
  font-size: 1.6rem; }

.section__text--white {
  color: white; }

.section__text--title {
  display: inline-block;
  font-size: 4rem;
  text-transform: capitalize; }

.section__text--subtitle {
  display: inline-block;
  font-size: 2rem;
  font-weight: 400; }

.section__heading {
  display: inline-block;
  font-size: 4rem;
  color: black;
  border-bottom: .5rem solid black;
  transition: all .3s;
  cursor: pointer; }
  .section__heading:hover {
    color: white;
    background-color: black; }

.u-center-text {
  text-align: center !important; }

.u-mb-small {
  margin-bottom: 2rem !important; }

.u-mb-medium {
  margin-bottom: 4rem !important; }

.u-mb-large {
  margin-bottom: 8rem !important; }

.navigation__checkbox {
  display: none; }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  background: linear-gradient(90deg, #feac5e 0%, #c779d0 50%, #4bc0c8 100%);
  position: fixed;
  top: 6rem;
  right: 7rem;
  z-index: 1000;
  transition: all .3s; }
  @media (max-width: 37.5em) {
    .navigation__background {
      top: 3rem;
      right: 3.5rem; } }

.navigation__toggle {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  background-color: white;
  position: fixed;
  top: 5.5rem;
  right: 6.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  z-index: 1500;
  cursor: pointer; }
  @media (max-width: 37.5em) {
    .navigation__toggle {
      top: 2.75rem;
      right: 3.25rem; } }

.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  display: inline-block;
  width: 3rem;
  height: .2rem;
  background-color: #333;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all .2s; }

.navigation__icon::before, .navigation__icon::after {
  content: "";
  display: inline-block; }

.navigation__icon::before {
  top: -.5rem; }

.navigation__icon::after {
  top: .7rem; }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(50); }

.navigation__checkbox:checked ~ .navigation__toggle .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked ~ .navigation__toggle .navigation__icon::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg); }

.navigation__checkbox:checked ~ .navigation__toggle .navigation__icon::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(315deg); }

.navigation__toggle:hover .navigation__icon::before {
  top: -.7rem; }

.navigation__toggle:hover .navigation__icon::after {
  top: .9rem; }

.navigation__menu {
  position: fixed;
  top: 50vh;
  left: 10%;
  transform: translate(-50%, -50%);
  list-style: none;
  color: white;
  z-index: 2000;
  opacity: 0;
  visibility: hidden;
  transition: all .2s ease; }
  .navigation__menu--items:not(:last-child) {
    margin-bottom: 5rem; }
  .navigation__menu--items--link {
    color: white; }
    .navigation__menu--items--link:link, .navigation__menu--items--link:active {
      font-size: 3rem;
      text-transform: uppercase;
      text-decoration: none;
      transition: all .3s ease;
      padding: 1rem;
      background-color: transparent; }
    .navigation__menu--items--link:hover {
      padding: 1rem;
      background-color: white;
      color: black; }

.navigation__checkbox:checked ~ .navigation__menu {
  left: 50%;
  opacity: 1;
  visibility: visible; }

.project {
  height: 50rem;
  width: 35rem;
  perspective: 1000;
  background-color: white;
  box-shadow: 0 0.2rem 5rem rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
  cursor: pointer;
  overflow: hidden;
  transition: all .2s ease; }
  @media (max-width: 50em) {
    .project {
      height: 45rem;
      width: 37.5rem; }
      .project:not(:last-child) {
        margin-bottom: 2rem; } }
  .project__header {
    height: 40%;
    width: 100%;
    background-size: contain;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; }
    .project__header--1 {
      background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5)), url("../img/food.png"); }
    .project__header--2 {
      background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5)), url("../img/rent.png"); }
    .project__header--title {
      color: white;
      text-transform: capitalize;
      font-size: 3.5rem; }
    .project__header--icon {
      width: 8%;
      position: absolute;
      top: 1rem;
      right: 1rem;
      opacity: 0;
      visibility: hidden;
      transition: all .1s ease; }
  .project:hover {
    transform: translateY(-0.5rem); }
  .project:hover .project__header--icon {
    opacity: 1;
    visibility: visible; }
  .project__content {
    margin: 2rem auto;
    width: 85%; }
  .project__footer {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between; }
    .project__footer--btns {
      flex: 0 0 47%;
      color: white; }
      .project__footer--btns:link, .project__footer--btns:active {
        display: inline-block;
        text-align: center;
        text-decoration: none;
        padding: .75rem 0;
        border-radius: .5rem; }
      .project__footer--btns--1:link, .project__footer--btns--1:active {
        background-image: linear-gradient(90deg, #ec008c 0%, #fc6767 100%); }
      .project__footer--btns--2:link, .project__footer--btns--2:active {
        background-image: linear-gradient(90deg, #ff512f 0%, #dd2476 100%); }
  .project__info {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(90deg, #cc2b5e 0%, #753a88 100%);
    display: flex;
    justify-content: center;
    align-items: center; }
    .project__info--content {
      margin: 0 auto;
      width: 70%;
      color: white; }
      .project__info--content--link {
        color: white; }
        .project__info--content--link:link, .project__info--content--link:active {
          transition: all .2s ease; }
        .project__info--content--link:hover {
          color: #fc6767; }

.tools {
  position: relative; }
  @media (max-width: 37.5em) {
    .tools {
      display: none; } }
  @media (max-width: 50em) {
    .tools {
      display: none; } }
  .tools__img {
    width: 30%;
    position: absolute;
    animation: oscillate 2s ease-out none infinite; }
    .tools__img--1 {
      top: 0;
      left: -1rem; }
    .tools__img--2 {
      top: -10rem;
      left: 20rem; }
    .tools__img--3 {
      top: 1rem;
      right: 0; }
    .tools__img--4 {
      top: 20rem;
      left: -3rem; }
    .tools__img--5 {
      top: 32rem;
      left: 20rem; }
    .tools__img--6 {
      top: 20rem;
      left: 40rem; }
    .tools__img--7 {
      top: 10rem;
      left: 20rem; }

.tools-mobile {
  display: none; }
  @media (max-width: 50em) {
    .tools-mobile {
      margin-top: 5rem;
      padding: 2rem;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-around; }
      .tools-mobile__img {
        width: 15%;
        height: 100%;
        animation: oscillate 2s ease-out none infinite; } }

.video {
  height: 45rem;
  width: 70rem;
  border-radius: .5rem;
  background-color: white;
  outline: none; }
  @media (max-width: 50em) {
    .video {
      width: 100vw;
      height: 45rem;
      object-fit: cover; } }
  @media (max-width: 37.5em) {
    .video {
      width: 100vw;
      height: 25rem;
      object-fit: cover; } }
  .video-popup {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    visibility: hidden;
    z-index: 5000;
    background-color: rgba(0, 0, 0, 0.75);
    transition: all .2s ease;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media (max-width: 50em) {
      .video-popup {
        background-color: black; } }
    .video-popup:target {
      opacity: 1;
      visibility: visible; }
    .video-popup__close {
      color: white; }
      .video-popup__close:link, .video-popup__close:active {
        position: absolute;
        left: 3rem;
        top: 3rem;
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        text-decoration: none;
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        transition: all .1s ease-in; }
        @media (max-width: 50em) {
          .video-popup__close:link, .video-popup__close:active {
            left: 1rem;
            top: 1rem;
            background-color: rgba(128, 128, 128, 0.2); } }
      .video-popup__close:hover {
        background-color: rgba(128, 128, 128, 0.2); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2*6rem) / 3); }

.header {
  height: 80vh;
  width: 100%;
  border-radius: .5rem;
  background: linear-gradient(90deg, #a1ffce 0%, #faffd1 100%);
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  transition: all .2s ease; }
  @media (max-width: 50em) {
    .header {
      height: 70vh; } }
  .header__content {
    width: 114rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .header__content--left, .header__content--right {
      flex: 0 0 45%; }
      @media (max-width: 50em) {
        .header__content--left, .header__content--right {
          display: flex;
          flex: 0 0 75%;
          flex-direction: column;
          align-items: center; } }
    .header__content--right {
      display: flex;
      justify-content: center; }
      @media (max-width: 50em) {
        .header__content--right {
          display: none; } }
  @media (max-width: 50em) {
    .header__text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; } }
  .header__text--greeting {
    display: inline-block;
    font-size: 4rem;
    margin-bottom: 1rem; }
    @media (max-width: 50em) {
      .header__text--greeting {
        font-size: 3.5rem;
        margin-bottom: .5rem; } }
  .header__text--title {
    display: inline-block;
    font-size: 5rem;
    line-height: 1; }
    @media (max-width: 50em) {
      .header__text--title {
        text-align: center;
        font-size: 4rem; } }
  .header__text--subtitle {
    display: inline-block;
    font-size: 2.5rem;
    font-family: 'Share Tech Mono', monospace; }
    @media (max-width: 50em) {
      .header__text--subtitle {
        text-align: center;
        font-size: 2rem; } }
  .header__icons--icon {
    color: black; }
    .header__icons--icon:link, .header__icons--icon:active {
      font-size: 2.5rem;
      cursor: pointer;
      margin-right: 1.5rem; }
    .header__icons--icon:hover {
      color: teal; }
  .header__img {
    width: 100%;
    height: 100%; }

.about {
  margin-top: 1rem;
  padding: 20rem 0 25rem 0;
  border-radius: .5rem;
  background: linear-gradient(90deg, #ff8008 0%, #ffc837 100%);
  display: flex;
  transition: all .2s ease; }
  @media (max-width: 50em) {
    .about {
      padding-bottom: 10rem; } }
  .about__content {
    width: 114rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-around; }
    @media (max-width: 50em) {
      .about__content {
        flex-direction: column;
        align-items: center; } }
  .about__description, .about__tools {
    flex: 0 0 45%; }
  @media (max-width: 50em) {
    .about__description {
      width: 85%;
      text-align: center; } }

.projects {
  margin-top: 1rem;
  padding: 15rem 0 20rem 0;
  border-radius: .5rem;
  background: linear-gradient(90deg, #ee9ca7 0%, #ffdde1 100%);
  transition: all .3s ease; }
  .projects__row {
    margin: 0 auto;
    width: 114rem;
    display: flex;
    justify-content: space-around; }
    @media (max-width: 50em) {
      .projects__row {
        width: 90%;
        align-items: center;
        flex-direction: column; } }

.contact {
  margin-top: 1rem;
  padding: 10rem 0;
  border-radius: .5rem;
  background: linear-gradient(90deg, #ece9e6 0%, #ffffff 100%); }
  .contact__content {
    width: 114rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media (max-width: 50em) {
      .contact__content {
        flex-direction: column-reverse;
        width: 80%; } }
    .contact__content--left, .contact__content--right {
      flex: 0 0 45%; }
    @media (max-width: 50em) {
      .contact__content--left {
        display: flex;
        flex-direction: column;
        align-items: center; } }
    @media (max-width: 50em) {
      .contact__content--right {
        margin-bottom: 5rem; } }
  .contact__title {
    font-size: 5rem;
    margin-bottom: 1rem; }
  .contact__greeting {
    font-size: 2rem;
    line-height: 4rem;
    margin-bottom: 2rem; }
  .contact__illustration {
    width: 100%;
    height: 100%; }
  .contact__form--input {
    width: 12.5rem;
    margin: 0 1rem;
    font-size: 2rem;
    font-family: 'Nunito', sans-serif;
    background-color: transparent;
    border: none;
    border-bottom: .15rem solid black;
    transition: all .2s ease; }
    .contact__form--input:focus {
      outline: none;
      border-bottom: 0.15rem solid #ba8b02; }
    .contact__form--input::-webkit-input-placeholder {
      padding: .5rem;
      font-size: 2rem; }
  .contact__form--dropdown {
    height: 3rem;
    width: 20rem;
    padding: 0 0 0 .5rem;
    font-size: 2rem;
    font-family: 'Nunito', sans-serif;
    background-color: transparent;
    border: none;
    border-radius: 0em;
    border-bottom: .15rem solid black;
    transition: all .2s ease;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none; }
    .contact__form--dropdown:focus {
      outline: none;
      border-bottom: 0.15rem solid #ba8b02; }
  .contact__btn {
    color: white; }
    .contact__btn:link, .contact__btn:active {
      text-decoration: none;
      padding: 1.25rem 2.5rem;
      border-radius: .5rem;
      background: linear-gradient(90deg, #833ab4 0%, #fd1d1d 50%, #fcb045 100%); }
  .contact__error {
    margin-left: 1rem;
    font-size: 1.5rem;
    color: red; }
    @media (max-width: 50em) {
      .contact__error {
        margin-top: 1rem; } }

.footer {
  margin-top: 1rem;
  padding: 1rem 0;
  border-radius: .5rem;
  background: linear-gradient(90deg, #536976 0%, #292e49 100%);
  text-align: center;
  color: white; }

.darkmode__toggle {
  height: 4rem;
  width: 4rem;
  border-radius: 25%;
  background-color: white;
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  z-index: 700;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center; }
  .darkmode__toggle--icon {
    width: 3rem;
    height: 3rem;
    transition: all .2s ease; }
