.header{
    height: 85vh;
    border-radius: .5rem;
    background:linear-gradient(90deg, #a1ffce 0%,#faffd1 100% );
    // background-image: url('../../img/night.gif');
    // background-size: cover;
    position: relative;
    overflow: hidden;

    &__content{
        padding-top: 17.5rem;
    }

    &__text{
        &--greeting{
            display: inline-block;
            font-size: 4rem;
            margin-bottom: 1rem;
        }

        &--title{
            display: inline-block;
            font-size: 5rem;
            line-height: 1;
        }

        &--subtitle{
            display: inline-block;
            font-size: 2.5rem;
            font-family: 'Share Tech Mono', monospace;
        }
    }

    &__icons{
        &--icon{
            font-size: 2.5rem;
            cursor: pointer;

            &:not(:last-child){
                margin-right: 1.5rem;
            }

            &:hover{
                color: teal;
            }
        }
    }

    &__img{
        transform: translateY(-20rem);
        width: 100%;
    }
}