.tools{
    position: relative;

    @include respond(phone){
        display: none;
    }

    &__img{
        width: 30%;
        position: absolute;
        animation: oscillate 2s ease-out none infinite;

        &--1{
            top: 0;
            left: -1rem;
        }

        &--2{
            top: -10rem;
            left: 20rem;
        }

        &--3{
            top: 1rem;
            right: 0;
        }

        &--4{
            top: 20rem;
            left: -3rem;
        }
        
        &--5{
            top: 32rem;
            left: 20rem;
        }

        &--6{
            top: 20rem;
            left: 40rem;
        }

        &--7{
            top: 10rem;
            left: 20rem;
        }
    }
}

.tools-mobile{
    display: none;

    @include respond(phone){
        margin-top: 5rem;
        padding: 2rem;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;

        &__img{
            width: 15%;
            animation: oscillate 2s ease-out none infinite;
        }
    }
}