.about{
    margin-top: 1rem;
    padding: 20rem 0 25rem 0;
    border-radius: .5rem;
    // background:linear-gradient(90deg, #00c3ff 0%,#ffff1c 100%);
    background:linear-gradient(90deg, #ff8008 0%,#ffc837 100% );
    display: flex;
    transition: all .2s ease;

    @include respond(phone){
        padding-bottom: 10rem;
    }

    &__content{
        width: 114rem;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;

        @include respond(phone){
            flex-direction: column;
            align-items: center;
        }
    }

    &__description, &__tools{
        flex: 0 0 45%;
    }

    &__description{
        @include respond(phone){
            width: 85%;
            text-align: center;
        }
    }

    // &__tools{
    //     @include respond(phone){
    //         display: none;
    //     }
    // }
}

.projects{
    margin-top: 1rem;
    padding: 15rem 0 20rem 0;
    border-radius: .5rem;
    // background:linear-gradient(90deg, #cc2b5e 0%,#753a88 100% );
    background:linear-gradient(90deg, #ee9ca7 0%,#ffdde1 100% );
    transition: all .3s;

    &__row{
        margin: 0 auto;
        width: 114rem;
        display: flex;
        justify-content: space-around;

        @include respond(phone){
            width: 90%;
            align-items: center;
            flex-direction: column;
        }
    }

    
}

.contact{
    margin-top: 1rem;
    padding: 10rem 0;
    border-radius: .5rem;
    background:linear-gradient(90deg, #ece9e6 0%,#ffffff 100% );

    &__content{
        width: 114rem;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include respond(phone){
            flex-direction: column-reverse;
            width: 80%;
        }

        &--left, &--right{
            flex: 0 0 45%;
        }

        &--left{
            @include respond(phone){
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }

        &--right{
            @include respond(phone){
                margin-bottom: 5rem;
            }
        }
    }

    &__title{
        font-size: 5rem;
        margin-bottom: 1rem;
    }

    &__greeting{
        font-size: 2rem;
        line-height: 4rem;
        margin-bottom: 2rem;
    }

    &__illustration{
        width: 100%;
        height: 100%;
    }

    &__form{
        &--input{
            width: 12.5rem;
            margin: 0 1rem;
            font-size: 2rem;
            font-family: 'Nunito', sans-serif;
            background-color: transparent;
            border: none;
            border-bottom: .15rem solid black;
            transition: all .2s ease;

            &:focus{
                outline: none;
                border-bottom: .15rem solid#ba8b02;
            }

            &::-webkit-input-placeholder{
                padding: .5rem;
                font-size: 2rem;
            }
        }

        &--dropdown{
            height: 3rem;
            width: 20rem;
            padding: 0 0 0 .5rem;
            font-size: 2rem;
            font-family: 'Nunito', sans-serif;
            background-color: transparent;
            border: none;
            border-radius: 0em;
            border-bottom: .15rem solid black;
            transition: all .2s ease;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;

            &:focus{
                outline: none;
                border-bottom: .15rem solid#ba8b02;
            }
        }
    }

    &__btn{
        color: white;

        &:link, &:active{
            text-decoration: none;
            padding: 1.25rem 2.5rem;
            border-radius: .5rem;
            background:linear-gradient(90deg, #833ab4 0%,#fd1d1d 50%,#fcb045 100% );
        }
    }
}

.footer{
    margin-top: 1rem;
    padding: 1rem 0;
    border-radius: .5rem;
    background:linear-gradient(90deg, #536976 0%,#292e49 100% );
    text-align: center;
    color: white;
}