.darkmode{
    &__toggle{
        height: 4rem;
        width: 4rem;
        border-radius: 25%;
        background-color: white;
        position: fixed;
        bottom: 2rem;
        left: 2rem;
        box-shadow: 0 .5rem 1rem rgba(black, .2);
        z-index: 700;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        &--icon{
            width: 3rem;
            height: 3rem;
            transition: all .2s ease;
        }
    }
}